*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #083b4c;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
}

form{
    text-align: center;
    flex-basis: 100%;
}

#container{
    
    display: flex;
    justify-content:flex-start;
    width:1198px;
    gap: 22px;
    flex-wrap: wrap;
    background-color: red;
}

.cell{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}